@media screen and (max-width:600px) {

    header .container {
        display: flex;
        flex-direction: column;
        margin-top: 6px;
        margin-bottom: 6px;
    }

    .text-logo {
        margin-bottom: 15px;
    }

    .ancora-instrumentos {
        margin-bottom: 25px;

    }

    .instrumento-principal {
        height: 550px;
    }


    .instrumento-principal .titulo-principal {
        font-size: 12pt;
        margin-top: 5px;
        margin-bottom: 10px;

    }

   

    .instrumento-principal .titulo-principal {
        margin-top: 15%;

    }

    .style-button {
       height: 40px;
        margin-bottom: 5px;
    }

   
    .titulo-principal {
        margin-top: 5px;
    }


    .patern-img {
        object-fit: contain;
        margin-bottom: 10px;
    }

    .box-instrumentos {

        text-align: center;
    }



}

@media screen and (min-width:1000px) {
    .descricao-principal {
        width: 50%;
    }

}

@media screen and (max-width:300px){

    .instrumento-principal .descricao-principal {
        font-size: 10pt;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .style-button {
        margin-top: 10px;
    }

    .instrumento-principal {
        height: 500px;
    }

    
}